.header {
    text-align: center;
    padding: 14px 0px;
    box-shadow: 0 2px 0 0 var(--gainsboro);
    background-color: #fff;
    margin-bottom: 30px;

    .title {
        font-size: 18px;
        font-weight: 700;
        color: #0ab463;
    }
}