.link {
    padding: 8px 20px;
    white-space: nowrap;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    border: solid 1px #0ab463;
    background-color: #0ab463;

    text-decoration: none;


    font-size: 14px;
    font-weight: 700;
    color: #fff;
}